
[STARTUP]

# number of events per trigger 
nEvents = 10

# clock speed in MHz 
# [options: 20, 40]
clock = 40

# Trigger Options (bool on/off)
sftrg = 1
extrg = 1
TrgCh1 = 0 
TrgCh2 = 0

# Digipots (for DC bias control) for Ch1/Ch2 Inputs
# [value = pot wiper value from 0-255]
PotValCh1 = 200
PotValCh2 = 200

# DAC for Trigger Threshold Setting for Ch1/Ch2 Inputs 
# [value = threshold in mV]
DACValCh1 = 2
DACValCh2 = 2

# DAC for Trigger Pulse Control Setting 
DACPulseCh1 = 0
DACPulseCh2 = 0
