
[STARTUP]

# file save configuration
# [path = where to save files]
# [fname = prefix to use for the files]
# [files = number of files to split data into]
# [timeout = amount of time to wait between triggers before terminating the run (in minutes)]
# BUG: fname must NOT have a space in front. Will patch in future version 

events_per_file = 10

# clock speed in MHz 
# [options: 20, 40]
# other options will cause run to fail
clock = 40
timeout = 30

# Trigger Options (bool on/off)
sftrg = 0
extrg = 0
TrgCh1 = 1
TrgCh2 = 0

# Digipots (for DC bias control) for Ch1/Ch2 Inputs
# [value = pot wiper value from 0-255]
# sets channel pedestal
PotValCh1 = 10
PotValCh2 = 10
# sets SiPM Bias (ch1,ch2)
PotValCh3 = 200
PotValCh4 = 200

# DAC for Trigger Threshold Setting for Ch1/Ch2 Inputs 
# [value = threshold in mV]
DACValCh1 = 250
DACValCh2 = 250

# DAC for Trigger Pulse Control Setting 
DACPulseCh1 = 0
DACPulseCh2 = 0
