
[STARTUP]

# number of events per trigger 
nEvents = 10

# clock speed in MHz 
# [options: 20, 40]
clock = 20

# Trigger Options (bool on/off)
sftrg = 0
extrg = 1
TrgCh1 = 0 
TrgCh2 = 0

# Digipots (for DC bias control) for Ch1/Ch2 Inputs
# [value = pot wiper value from 0-255]
PotValCh1 = 254
PotValCh2 = 254

# DAC for Trigger Threshold Setting for Ch1/Ch2 Inputs 
# [value = threshold in mV]
DACValCh1 = 100
DACValCh2 = 100

# DAC for Trigger Pulse Control Setting 
DACPulseCh1 = 0
DACPulseCh2 = 0
