
[STARTUP]

# number of events per trigger 
nEvents = 10

# Trigger Options (bool on/off)
sftrg = 0
extrg = 1
TrgCh1 = 1 
TrgCh2 = 1

# Digipots (for DC bias control) for Ch1/Ch2 Inputs
# [value = pot wiper value from 0-255]
PotValCh1 = 200
PotValCh2 = 200

# DAC for Trigger Threshold Setting for Ch1/Ch2 Inputs 
# [value = threshold in mV]
DACValCh1 = 400
DACValCh2 = 400

# DAC for Trigger Pulse Control Setting 
DACPulseCh1 = 0
DACPulseCh2 = 0
